{% extends "retinoscope/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="forms-container">
  <div class="signin-signup">
      <form class="sign-in-form" method="post">
        {% csrf_token %}
      <h2 class="title">Change Password</h2>
      {% if error_msg %}
      <div> <strong style="color:red"> {{ error_msg }}</strong></div>
      {% endif %}
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Old Password" name="old_password">
      </div>
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Password" name="password1">
      </div>
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Confirm Password" name="password2">
      </div>
      <input type="submit" class="btn" value="Change Password">
      <div class="social-media">
      </div>
    </form>
  </div>
</div>
  <div class="panels-container">
    <div class="panel left-panel">
      <img src="{% static 'retinoscope/media/reset_complete.png' %}" class="image" alt="" />
    </div>
  </div>



{% endblock %}