<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <title>Contact Us</title>
  </head>
    <body>
    <div class="container">
      <div class="big-wrapper light">
        <header>
          <div class="containerbar">
            <div class="logo">
              <img src="images__1_-removebg-preview.png" alt="Logo" />
              <h3>RetinaScope</h3>
            </div>
            <div class="links">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Log in</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#">Contact Us</a></li>    
              </ul>
            </div>
      </div>
        </header>
        <div class="contact-container">
          <div class="text-contact">
            <div class="big-title">
              <br><br><br><br>
                <h1>Contact Information:</h1><br>
                  <p class="text"  >- Phone: +201122538015<br><br>
                  -  Email: RetinaScope5@gmail.com</p>
                 </div><br>
                 <div class="big-title">
                  <h1>Contact us for data access:</h1><br>
                  <p class="text">
                    Dear Researchers,
                    <br>
We are delighted that you are interested in utilizing our data for your research purposes.<br> We understand the significance of data-driven research and are committed to supporting the scientific community.<br>
<br>For inquiries related to data access, please don't hesitate to reach out to us.<br> We are here to assist you throughout the process and provide the necessary information and resources<br> to ensure a smooth and productive collaboration.
                <p>
                <p class="text"> Please include the following details when contacting us:<br>
                  1-Your name and affiliation.<br>
                   2-A brief description of your research project and objectives.<br>
                   3-Specific details regarding the type of data you are interested in accessing.<br>
                   4-Any additional questions or requirements you may have.<br>
                   Our team will review your request promptly and guide you on the data access procedures.<br> We prioritize confidentiality and adhere to applicable data protection regulations to safeguard the privacy and integrity of the data.<br>
                   <br>We appreciate your interest in our data and look forward to supporting your research endeavors.<br> Together, we can contribute to advancing knowledge and making meaningful discoveries.
                   <br><br>
                   Thank you for considering us as a valuable resource for your research needs.<p>
                  
                 </div>

                </div>
                 <br><br><br>

                 
        </div>
      <div class="panels-container">
        <div class="panel left-panel">

          <img src="contact-us-banner-vector_Artboard-25.png" class="image" alt="" />
        </div>
      </div>
    </div>

  </body>
</html>