{% extends 'retinoscope/base.html' %}
{% load static %}
{% block content %}
      <div class="forms-container">
        <div class="signin-signup">
          <form class="sign-in-form" method="post">
            {% csrf_token %}
            <h2 class="title">Forgot Password?</h2>
            <div class="input-field">
                <i class="fas fa-envelope"></i>
              {{ form.email }}</div>
            <input type="submit" value="Submit" class="btn solid"/>
            <div class="social-media">
            </div>
          </form>
        </div>
      </div>
      <div class="panels-container">
        <div class="panel left-panel">
          <img src="{% static 'retinoscope/media/reset_complete.png' %}" class="image" alt="" />
        </div>
      </div>
{% endblock %}