{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>WebPage</title>
        <link href="{% static 'retinoscope/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'retinoscope/bootstrap-icons.css' %}" rel="stylesheet">
        <link href="{% static 'retinoscope/profile3.css' %}" rel="stylesheet">
    </head>
    <body id="section_1">
        <nav class="navbar navbar-expand-lg bshadow-lg  ">
            <div class="container">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="{% static 'retinoscope/media/logo.png' %}" class="logo img-fluid" alt="RetinaScope">
                    <span>
                        RetinaScope
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                      <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'index' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'profile' pk=request.user.pk %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'logout' %}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'signup' %}">Sign Up</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link click-scroll" href="{% url 'login' %}#">Sign In</a>
                    </li>
                    {% endif %}
                </ul>
                </div>
            </div>
        </nav>
       
        <section class="vh-100";>
            <div class="container py-6 h-100">
              <div class="row d-flex justify-content-center align-items-center h-300">
                <div class="col col-lg-12 mb-10 mb-lg-0">
                    <div class="row g-0">
                      <div class="col-lg-12 gradient-custom text-center text-white"
                        style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                        <img src="{% static 'retinoscope/media/avatar2.png' %}"
                          alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                        <h5>Welcome,</h5>
                        {% if user.is_authenticated %}
                        <p>{{ user.first_name }} {{ user.last_name }}</p>
                        <i class="far fa-edit mb-5"></i>
                      </div>
                      <div class="col-lg-12">
                        <div class="card-body p-4">
                          <h6>Information</h6>
                          {% if success %}
                            <strong style="color:green">{{ success }}</strong>
                          {% endif%}
                          <hr class="mt-0 mb-4">
                          <div class="row pt-1">
                            <div class="col-12 mb-3">
                                <h6>FirstName</h6>
                                <p class="text-muted">{{ user.first_name }}</p>
                              </div>
                              <div class="col-12 mb-3">
                                <h6>LastName</h6>
                                <p class="text-muted">{{ user.last_name }}</p>
                              </div>
                            <div class="col-12 mb-3">
                                <h6>UserName</h6>
                                <p class="text-muted">{{ user.username }}</p>
                              </div>
                            <div class="col-12 mb-3">
                              <h6>Email</h6>
                              <p class="text-muted">{{ user.email }}</p>
                            </div>
                            <div class="col-12 mb-3">
                              <h6>Phone</h6>
                              <p class="text-muted">{{ user.account.mobile_number }}</p>
                            </div>
                            <div class="col-12 mb-3">
                                <h6>Age</h6>
                                <p class="text-muted">{{ user.account.age }}</p>
                              </div>
                          </div>
                          <h6>Edit profile</h6>
                          <hr class="mt-0 mb-4">
                          <div class="row pt-1" style="align-items: center;">
                            <div class="col-3 mb-3">
                            <a href="{% url 'edit_info' %}"><button class="btn">Change Profile</button> </a></div>
                            <div class="col-3 mb-3">
                                <a href="{% url 'change_password' %}"><button class="btn">Change Password</button></a>
                            </div>
                            <div class="col-3 mb-3">
                              <a href="{% url 'classify' pk=request.user.pk %}"><button class="btn">Classify </button></a>
                          </div>
                            <div class="col-3 mb-3">
                                <a href="{% url 'history' pk=request.user.pk %}"><button class="btn">Show History</button></a>
                            </div>
                            </div>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
    </body></html>