{% extends "retinoscope/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="forms-container">
  <div class="signin-signup">
      <form class="sign-in-form" method="post">
        {% csrf_token %}
      <h2 class="title">Sign up</h2>
      {% for msg in messages %}
      <div> <strong style="color:rgb(39, 206, 39)"> {{ msg }} </strong></div>
      {% endfor %}
      {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            {{ error|escape }}
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        {{ error|escape }}
    {% endfor %}
{% endif %}

      <div class="input-field">
        <i class="fas fa-user"></i>
        {{ form.username }}
      </div>
      <div class="input-field">
        <i class="fas fa-user"></i>
        {{ form.first_name }}
      </div>
      <div class="input-field">
        <i class="fas fa-user"></i>
        {{ form.last_name }}
      </div>
      <div class="input-field">
        <i class="fas fa-envelope"></i>
        {{ form.email }}
      </div>
      <div class="input-field">
        <i class="fas fa-lock"></i>
        {{ form.password1 }}
      </div>
      <div class="input-field">
        <i class="fas fa-lock"></i>
        {{ form.password2 }}
      </div>
      <div class="input-field">
        <i class="fas fa-phone"></i>
        <input type="number" placeholder="Phone Number" name="mobile_number">
      </div>
      <div class="input-field">
        <i class="fas fa-child"></i>
        <input type="number" placeholder="Age" name="age">
      </div>
      <input type="submit" class="btn" value="Sign up">
      <div class="social-media">
      </div>
    </form>
  </div>
</div>
<div class="panels-container">
  <div class="panel left-panel">
    <img src="{% static 'retinoscope/media/signup2.png' %}" alt="hhhh" class="image" />
  </div>



{% endblock %}